body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #8979f2;
  background: #262335;
  font-family: cursor, monospace;
  overflow-x: hidden;
}

::selection {
  color: #211830;
  background-color: #6BBEF2;
}

::-moz-selection {
  color: #211830;
  background-color: #6BBEF2;
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor */
.cursor {
  font-size: 12px;
  color: #6BBEF2;
  background-color: #6BBEF2;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: #d4ceff;
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: #8979f2;
  content: "convidado@maxthevogel.com.br:~$";
}

#liner.password::before {
  content: "Password:";
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Cursor */


p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.index {
  color: #d4ceff;
}

.color1 {
  color: #206bff;
}

.color2 {
  color: #d4ceff;
}

.command {
  color: #22b1e9;
  text-shadow: 0 0 5px #c2bbee;
}

.error {
  color: #f02688;
}

.white {
  color: #d4ceff;
}

.inherit,
a {
  color: #f02688;
}

a {
  text-decoration: inherit;
}

a:hover {
  background: #6BBEF2;
  color: #163573;
}

a:focus {
  outline: 0;
}